body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

ul{list-style:none;list-style-type:none;}
li,ol{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
table,td,input,textarea{font-size:12px}
textarea{resize:none;font-family:Arial;overflow:auto;border:1px solid #ccc;font-size:12px;padding:3px}
table{border-collapse:collapse;border-spacing:0;}
input,button,textarea,select{font-family:inherit;font-weight:inherit;font-size:100%}

/*重置图片边框*/
img{border: none}
.l{float:left;}
.r{float:right;}

/*两种清浮动方法*/
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
/* Hides from IE-mac */
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.clear{clear:both;height:0;font:0/0 Arial;visibility:hidden;width:100%}
/*两种清浮动方法*/

/*默认链接*/
a{text-decoration:none;cursor:pointer;}
a:hover{text-decoration:none;}

/*边距*/
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mb10{margin-bottom:10px;}
.mtb10{margin-top:10px;margin-bottom:10px;}
.mtb50{margin-top:50px;margin-bottom:50px;}
.ml10{margin-left:10px;}
.pd0_15{padding:0 15px;}
.pd5_15{padding:5px 15px;}
.pd10_15{padding:10px 15px 15px;}
.pd20_15{padding:20px 15px 25px;}
.pdt5{padding-top:5px}
.pdb5{padding-bottom:5px}
/*长、高*/
.h44{height:44px;}

/*字体*/
.f14{font-size:14px;}
.ShowDialog{color: rgb(76, 161, 251);}
.tpf{display:block;}
.f10{font-size:10px;color:#000;left:-20px;left:50%; margin-left:5px;display:none;}
.more{color:#4bc1f7;}
.more-content{color:#333;
background-color:#fff;
padding:6px;}

.f12{font-size:12px;}
.fb{font-weight:bold;}
.fb20{font-size:18px;font-weight:bold;}
.tc{text-align:center;}
.ti2{text-indent:2em;}

/* 颜色设置 */
.c_red{color:red;}
.c_gray2{color:#222;}
.c_gray9{color:#999;}
.c_blue1{color:#4bc1f7;}
.c_grayb2{color:#b2b2b2;}
.bt_c{border-top:1px solid #ccc;}
.bb_c{border-bottom:1px solid #ccc;}

.vm{vertical-align:middle;}
.cp{cursor:pointer;}
.disb{display:block;}

.doubt-box{
    width: 250px;
	display:none;
	padding:6px;
	position: absolute;
	opacity: 1;
    transform: none;
background-color: rgba(0, 0, 0, 0.5);
    border: 0 none;
    padding: 6px;
    z-index:100;
    margin-top:-500px;
    overflow:hidden;
}

.doubt-box-close{color: #999;cursor: pointer;display: block;font-family: tahoma;font-size: 24px;font-weight: 700;height: 18px;line-height: 0px;position: absolute;right: 10px;text-decoration: none;top: 15px;z-index: 10;}
.doubt-box-close:hover {
    color: #666;
    text-shadow: 0 0 2px #aaa;
}
.doubt-box-content{
font:10px/1.5 tahoma,arial,Hiragino Sans GB,宋体;
color:#333;
background-color:#fff;
padding:8px;
}
#divGray {
    position: absolute;
    z-index: 90;
    left: 0px;    
    top: 0px;
    width: 100%;
    background-color: #EEEFFF;
    opacity: 0.6;                /* Firefox, Safari(WebKit), Opera)
    filter: "alpha(opacity=60)"; /* IE 8 */
    filter: alpha(opacity=60);   /* IE 4-7 */
    display: none;
}

